.div1 {
    opacity: .9;
    background-color:silver;
    background-image: url("imgs/Bac1.jpg");
    background-size: cover;
    backface-visibility: visible;
    background-clip: border-box;
}

#BunLove {
    color: hotpink;
    width: 45em;
    margin-left: 35em;
    margin-right: -2em;
    margin-top: 10em;
}

#home{
    margin-left: 55em;
    text-decoration-line: none;
    color: hotpink;
}
#text1 {
    color: hotpink;
}